# Xmake cache
.xmake/
build/

# MacOS Cache
.DS_Store

.vscode/
.cache/

.bonding/
/example/mount_dir/lib*
/example/mount_dir/test
/example/mount_dir/bin/*

test.log

build.ninja
CMakeLists.txt
makefile
compile_commands.json